html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  text-align: center;
}

body {
  max-width: 1600px;
  padding: 50px 100px;
  background-color: rgb(180, 222, 33);
  color: rgb(53, 33, 8);
}

.question-list {
  font-weight: bolder;
}

.question {
  font-style: normal;
  font-weight: bolder;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.03em;
}

li {
  text-align: left;
  font-weight: bold;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.03em;
}
